.relatedproducts{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    height: 20px auto;
}
.relatedproducts h1{
    color: #171711;
    font-size: 32px;
    font-weight: 600;
}
.relatedproducts-hr{
    width:100%;
    height: 2px;
    border:none;
    background: #252525;
    margin: 10px 0;
}
/* .relatedproducts{
    width: 200px;
    height: 6px;
    border: 10px;
    background: #252525;
} */
.relatedproducts-items{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
